:root{
    --navigation-height: 2.82rem;
    --dropdown-content-border-radius: 15px;
}

/* img {
    display: block;
} */

.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    /*height: 55px;*/
    height: var(--navigation-height);
    background: var(--primary-opactiy);
    position: relative;
    top: 0;
    /* position: fixed; */
    /* border-bottom: var(--navigator-border-size) solid rgba(252, 148, 148, 0.178); */
}

.navigation .logo{
    height: 80%;
    margin: auto 10px;
}

.navigation .logo img{
    height: 100%;
}


.navigation .logo:hover{
    transform: scale(1.2) rotate(1turn);
    filter: brightness(120%);
}

.navigation ul{
    display: flex;
    text-align: center;
     /*justify-content: space-between; */
    justify-content: flex-end;
    align-items: center;
}

.navigation ul li {
    /* width: 100%; */
    width: var(--navigator-li-width);
    display: flex;
    flex-direction: column;
}

.navigation ul li a {
    display: block;
    /* background: #f25; */
    text-align: center;
    color: var(--font-color-white);
    font-size: 1.3rem;
    padding: var(--navigator-padding) 0;
}

.navigation ul li a:hover{
    color: var(--font-color);
    background: #fff;
    letter-spacing: var(--hover-letter-spacing);
    /*letter-spacing: 1rem;*/
}


.dropdown:hover a{
    color: var(--font-color);
    background: #fff;
}

.navigation ul li a::after{
    content: '';
    display: block;
    margin: auto;
    width: 0%;
    background: #ffffff;
    position: relative;
    top: var(--navigator-padding);
    height: 3px;
    transition: 0.3s;
}

.navigation ul li a:hover::after,
.dropdown:hover > a::after{
    background: var(--primary-opactiy);
    width: 100%;
}

.navigation .title{
    display: block;
    position: relative;
    font-size: 1.4rem;
    margin: auto 0;
    text-align: left;
    color: var(--font-color-white);
}

.navigation .title:hover{
    /*letter-spacing: 0.3rem;*/
    color: var(--font-color-white);
}

.dropdown {
    display: inline-block;
    position: relative;
    top: 0;
    transition: 0;
    /* height: var(--navigation-height); */
}

/* .dropdown:hover .dropdown-content:hover {
    display: flex !important;
} */


.dropdown:hover .dropdown-content a:hover{
    background: var(--primary-opactiy);
    color: var(--font-color-white);
}

.dropdown:hover .dropdown-content a{
    color: var(--font-color);
}

.dropdown-content {
    display: none !important;
    transition: 0;
    color: var(--font-color);
    opacity: 0;
    min-width: 9rem;
    position: absolute;
    border: 0px solid var(--primary);
    background-color: var(--font-color-white);
    box-shadow: 0px 0px 10px 0px var(--primary-opactiy);
    z-index: 1;
    top: var(--navigation-height);
}

.dropdown-content a{
    padding: 0;
    font-size: 0.9rem !important;

}

.dropdown-content li:last-child a{
    padding-bottom: 10px;
    border-bottom-right-radius: var(--dropdown-content-border-radius);
    border-bottom-left-radius: var(--dropdown-content-border-radius);
} .dropdown-content li:last-child a:after{
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block !important;
    transition: 0.1s;
    color: var(--font-color);
    opacity: 1;
    border-bottom-right-radius: var(--dropdown-content-border-radius);
    border-bottom-left-radius: var(--dropdown-content-border-radius);
}

