<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}{% endblock title%}</title>
    {% endblock head %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">


</head>

<body>

    <div class="container">
        <nav class="navigation">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="{{url_for('static', filename='img/logo.png')}}" alt="">
                </a>
            </div>
            <div class="title">{% block nav_title%}{% endblock nav_title%}</div>
            <ul>
                <li class="dropdown">
                    <a href="/osu">Osu</a>
                    <ul class="dropdown-content">
                        <li><a href="/osu">Table</a></li>
                        <li><a href="/osu/active_users">Active Users</a></li>
                        <li><a href="/osu/play_count">Play Count</a></li>
                        <li><a href="/osu/avg_score">Avg Score</a></li>
                        <li><a href="/osu/performance">Performance</a></li>
                        <li><a href="/osu/avg_performance">Avg Performance</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="/taiko">Taiko</a>
                    <ul class="dropdown-content">
                        <li><a href="/taiko">Table</a></li>
                        <li><a href="/taiko/active_users">Active Users</a></li>
                        <li><a href="/taiko/play_count">Play Count</a></li>
                        <li><a href="/taiko/avg_score">Avg Score</a></li>
                        <li><a href="/taiko/performance">Performance</a></li>
                        <li><a href="/taiko/avg_performance">Avg Performance</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="/mania">Mania</a>
                    <ul class="dropdown-content">
                        <li><a href="/mania">Table</a></li>
                        <li><a href="/mania/active_users">Active Users</a></li>
                        <li><a href="/mania/play_count">Play Count</a></li>
                        <li><a href="/mania/avg_score">Avg Score</a></li>
                        <li><a href="/mania/performance">Performance</a></li>
                        <li><a href="/mania/avg_performance">Avg Performance</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="fruits">Catch</a>
                    <ul class="dropdown-content">
                        <li><a href="/fruits">Table</a></li>
                        <li><a href="/fruits/active_users">Active Users</a></li>
                        <li><a href="/fruits/play_count">Play Count</a></li>
                        <li><a href="/fruits/avg_score">Avg Score</a></li>
                        <li><a href="/fruits/performance">Performance</a></li>
                        <li><a href="/fruits/avg_performance">Avg Performance</a></li>
                    </ul>

                </li>
            </ul>
        </nav>

        {% block page_content %}
        {% endblock page_content %}

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
