{% extends "base.html" %}

{% block title %}{{ mode | pascal_case}} Country Rankings - {{ x | pascal_case_spaces}} and {{y | pascal_case_spaces}}{% endblock %}

{% block nav_title %}{{ mode | pascal_case}} Country Rankings - {{ x | pascal_case_spaces}} and {{y | pascal_case_spaces}}{% endblock %}

{% block page_content %}


<canvas id="myChart"></canvas>

<script>

    let responseData = {}
    document.addEventListener('DOMContentLoaded', function () {
        axios.get('/api/country_rankings?mode={{ mode }}')
            .then((response) => {

                let sorted_data = getDataByValueScatter(response.data, "{{x}}", "{{y}}")
                console.log(sorted_data)

                const tableBody = document.querySelector('.rankings_table tbody');
                const ctx = document.getElementById('myChart');

                new Chart(ctx, {
                    // type: 'bar',
                    type: 'scatter',
                    data: {
                        labels: sorted_data['labels'],
                        datasets: [{
                            label: "{{ mode }}",
                            data: sorted_data['data'],
                            backgroundColor: [
                              'rgba(255, 99, 132, 0.2)',
                              'rgba(255, 159, 64, 0.2)',
                              'rgba(255, 205, 86, 0.2)',
                              'rgba(75, 192, 192, 0.2)',
                              'rgba(54, 162, 235, 0.2)',
                              'rgba(153, 102, 255, 0.2)',
                              'rgba(201, 203, 207, 0.2)'
                            ],
                            borderColor: [
                              'rgb(255, 99, 132)',
                              'rgb(255, 159, 64)',
                              'rgb(255, 205, 86)',
                              'rgb(75, 192, 192)',
                              'rgb(54, 162, 235)',
                              'rgb(153, 102, 255)',
                              'rgb(201, 203, 207)'
                            ],
                            borderWidth: 1,
                            pointRadius: 8,
                        }]
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'linear',
                                position: 'bottom'
                            }
                        }
                    }
                });
            })
            .catch((error) => {
                console.error('Error fetching the data', error);
            });
    });


</script>

{% endblock %}
