{% extends "base.html" %}

{% block title %}{{ mode | pascal_case }} Country Rankings Table{% endblock %}

{% block nav_title %}{{ mode | pascal_case }} Country Rankings Table{% endblock %}

{% block page_content %}

    <table id ="{{ mode }}_rankings_table" class="rankings_table">
        <thead>
            <tr>
                {% for key in COUNTRY_RANKINGS_ENTRIES %}
                <th>{{ key | pascal_case}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for row in range(data['ranking']|length) %}
            <tr>
                {% for key in COUNTRY_RANKINGS_ENTRIES %}
                    {% if key == 'country_name' %}
                    <td>{{ data[key][row] | pascal_to_spaces }}</td>
                    {% else %}
                    <td>{{ data[key][row] | format_number }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

        <tfoot>

        </tfoot>
    </table>

</div>

<script>

        $(document).ready(function () {
            let table = $('.rankings_table').DataTable(dataTableConfig).draw();
        });

</script>
{% endblock %}

