{% extends "base.html" %}

{% block title %}osu country rankings{% endblock %}

{% block page_content %}

<div class="container">

    <h1>Hello Flask</h1>
    <p>This is my first flask website.</p>
    <a href="./hello">To hello page.</a>

    <div class="header">
    </div>

    <div class="rankings_table">

        <!-- <ul>
                {% for key in data %}
                <li>
                    {{ key }}: {{data[key]}}
                </li>
                {% endfor %}
            </ul> -->

    </div>

    <!-- <div>
            <ul>
                {% for user in users %}
                <li>
                    {{ user.username }} is {{user.rolename}}
                </li>
                {% endfor %}
            </ul>
        </div> -->


</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        fetch('/api/country_rankings')
            .then(response => {
                
                console.log(response);
                response.json();
                console.log("JSON: ");
                console.log(response.json());
            }
            )
            .then(data => {
                const rankingsTable = document.querySelector(".rankings_table ul");
                let html = '';
                console.log(typeof data, data)
                // data.forEach(row => {
                //     html += '<li>';
                //     for (const [key, value] of Object.entries(row)) {
                //         html += `${key}: ${value} `;
                //     }
                //     html += '</li>';
                // });
                // rankingsTable.innerHTML = html;
            })
            .catch(error => console.error('Error fetching data:', error));
    });
</script>
{% endblock %}